
.ad {
  position: absolute;
  background-color: whitesmoke;
  bottom: 150px;
  left: 25%;
  width: 500px;
  height: 300px;
}

.video {
  position: relative;
}

.video_container {
  position: relative;
}

.hide {
  visibility: hidden;
}